<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
    <link rel="stylesheet" href="style_title.css">
    <link rel="icon" type="image/png" href="icon.jpg">
    <script src="script.js" defer></script>
</head>
<body>
    <header>
        <button><span>LOG IN</span><i></i></button>
        <button><span>REGISTER</span><i></i></button>
    </header>
    <div id="full">
        <div id="title">
            <h1 id="h_1">BATTLESHIP</h1>
        </div>
        <div id="content">
            <a href="..\lobby\lobby.html"><button><span>PLAY</span><i></i></button></a>
        </div>
    </div>
    
    <footer>
        Made by Kamil, Maksym, Tymon, Szymon
    </footer>

</body>
</html>