@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  position:relative;
}
#h_1 {
  font-size: 50px;
  color:#fff;
  margin-bottom: 20px;
}
#full {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height:100%;
  align-items: center;
  text-align: center;
  position: relative;
  
}
#content {
  margin-bottom: 10%;
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  margin-bottom: 10%;
}
button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}
button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  animation: box 3s infinite;
  cursor: pointer;
}
button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #333; 
}
button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}
button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}
button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}


.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
}
.star:before {
  position: absolute;
  content: '\2726';
  color: inherit;
  inset: 0;
  text-shadow: 0 0 .8em #fff5;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #F9F6EF;
  display: grid;
  place-content: center;
  background-image: 
    radial-gradient(
    circle at 50% 50%,
      #2f3040,
      #1f2020
    );
}

header{
  position: absolute;
  top: 0%;
  left: 75%; 
  padding-left: 40px;
  padding-top: 25px;
}