<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleships</title>
    <link rel="stylesheet" href="lobby.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="app">
        <header>
            <span>Battleships</span>
        </header> 

        <main>
            <div class="lobbyContainer"> 
                <div class="lobby">
                    <div>
                      <a class="room" href="#">
                        LobbyName 
                        <button class="joinLobbyButton">JOIN</button>
                        <span class="material-symbols-outlined">lock</span>
                      </a>
                    </div>
                </div>
            </div>
    
            <div class="createLobbyContainer">
                <button type="submit" class="createLobbyButton" id="openmodal"><a href="#">Create lobby</a></button>
            </div>
        </main>
    
        <div id="modalID" class="modal">
            <input type="text" id="text" class="modalInput" maxlength="10" placeholder="Enter lobby name">
            <div class="flex">
                <div>
                    <label for="private-public">Public/Private</label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="passwordContainer" style="display: none;">
                    <input type="password" id="passwordInput" placeholder="Enter lobby password">
                </div>
            </div>
            <div class="modalButtonWrapper">
                <button class="modalButton">Create</button>
                <button class="modalButton">Cancel</button>
            </div>
        </div>
    </div>

    <div id="JoinModal" class="modalne" style="display: none;">
        <input type="text" id="player-name" class="modalne-input" maxlength="10" placeholder="Podaj nick gracza">
        <input type="password" id="join-password-input" class="modalne-input" placeholder="Podaj hasło do lobby">
        <button class="modalne-przycisk" onclick="joinLobby()">JOIN</button>
    </div>

    <script src="lobby.js" defer></script>
</body>
</html>
