@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
  --bgColor: #222;
  --slider: #333;
  --fontColor: #F9F6EF;
  --gradient: radial-gradient(
    circle at 50% 50%,
      #2f3040,
      #1f2020
    );
  --hover: #dbd8cf;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    color: var(--fontColor);
    display: grid;
    place-content: center;
    background-image: var(--gradient);
  }


header{
    font-size: 50px;
    color: var(--fontColor);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


button {
  position: relative;
  background: #444;
  color: var(--fontColor);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  animation: box 3s infinite;
  cursor: pointer;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 120%;
  max-height: 40vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

.lobby{
  width: 100%;
  flex-wrap: wrap;
}

.lobby .text123{
  width: 30%;
}

.game{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game:hover{
  background-color: hsl(0, 1%, 36%, 6%) ;
}

a{
  color: var(--fontColor);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}

a:hover{
  color: var(--hover);
}

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
}
.star:before {
  position: absolute;
  content: '\2726';
  color: inherit;
  inset: 0;
  text-shadow: 0 0 .8em #fff5;
}

.container2{
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  width: 80%;
}

.modal {
  display: none; 
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--fontColor);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; 
  flex-wrap: wrap;
  flex-direction: column;
}

#ModalID{
  min-width: 30%;
}

input{
  position: relative;
  background: #333;
  color: var(--fontColor);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bgColor);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--fontColor);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label{
  color: var(--bgColor);
  font-weight: 1000;
  padding-top: 0.5vh;
}
.flex{
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 20px;
}

.lobby-button:hover{
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  animation: none;
  cursor: pointer;
}

.modal input{
  margin: 0.2vh;
  width: 100%;
  display: block;
}



